:root {
  --slidev-code-font-size: 14px;
  --slidev-code-line-height: 21px;
  --slidev-code-font-family: 'Moralerspace Neon', 'Moralerspace';
  --slidev-code-background: hsl(0, 0%, 93%);
}

.slidev-layout code {
  font-family: var(--slidev-code-font-family) !important;
}

.slidev-layout :not(pre) > code {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
}