:root {
  --slidev-code-font-size: 16px;
  --slidev-code-line-height: 1.5rem;
  --slidev-code-font-family: 'Moralerspace Neon', 'Moralerspace';
  --slidev-code-background: #1b1b1b;
  --slidev-code-color: #f5f5f5;
}

.slidev-code {
  background-color: var(--shiki-dark-bg);
}

.slidev-layout code {
  font-family: var(--slidev-code-font-family) !important;
}

.slidev-layout :not(pre) > code {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  background-color: var(--slidev-code-background);
  color: var(--slidev-code-color);
}